<mat-toolbar>
    <h1>TimeUp</h1>
</mat-toolbar>
<div class="container pt-5">
    <h1 class="tu-time">
        <span *ngIf="0 < time.years">{{time.years}} <span class="label">yrs</span></span>
        <span *ngIf="0 < time.months">{{time.months}}  <span class="label">mths</span></span>
        <span *ngIf="0 < time.days">{{time.days}}  <span class="label">days</span></span>
        <span *ngIf="0 < time.hours">{{time.hours}} <span class="label">hrs</span></span>
        <span *ngIf="0 < time.minutes">{{time.minutes}}  <span class="label">min</span></span>
    </h1>
    <mat-card class="search-bar">
        <div class="tu-form">
            <input matInput type="text" placeholder="Movie name..." [(ngModel)]="searchTerm" (keyup)="searchMovies()">
            <button class="btn-search" mat-icon-button color="accent" (click)="searchMovies()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </mat-card>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 movie-card" *ngFor="let screenplay of screenplays">
                <mat-card class="example-card" (click)="getScreenPlay(screenplay)">
                    <mat-card-header>
                        <mat-card-title title="{{screenplay.Title}}">{{screenplay.Title}}</mat-card-title>
                        <mat-card-subtitle>{{screenplay.Year}} </mat-card-subtitle>
                    </mat-card-header>
                    <div class="image">
                        <img mat-card-image src="{{screenplay.Poster}}">
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <ng-container *ngIf="watchedScreenplays && 0 < watchedScreenplays.length; else noWatchedMovies">
        <div class="container mt-4">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center">
                    <h2>Watched Movies</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3 movie-card" *ngFor="let screenplay of watchedScreenplays">
                    <mat-card class="example-card">
                        <mat-card-header>
                            <mat-card-title title="{{screenplay.Title}}">{{screenplay.Title}}</mat-card-title>
                            <mat-card-subtitle>{{screenplay.Year}} </mat-card-subtitle>
                        </mat-card-header>
                        <div class="image">
                            <img mat-card-image src="{{screenplay.Poster}}">
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <h2 class="text-center">
                <button mat-button (click)="reset()">Reset</button>
            </h2>
        </div>
    </ng-container>
    <ng-template #noWatchedMovies>
        <div class="container mt-4">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-center">
                    <h2>No Watched Movies</h2>
                </div>
            </div>
        </div>
    </ng-template>
</div>