<mat-toolbar>TimeUp</mat-toolbar>
<div class="container pt-5">
    <mat-card>
        <mat-form-field class="pl-3 pr-3">
            <div class="tu-form">
                <input matInput type="text" placeholder="Movie name..." [(ngModel)]="value" (keyup.enter)="searchMovie()">
                <button mat-flat-button color="accent" (click)="searchMovie()">Search</button>
            </div>
        </mat-form-field>
    </mat-card>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3 movie-card" *ngFor="let movie of movies">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>{{movie.Title}}</mat-card-title>
                        <mat-card-subtitle>{{movie.Year}}</mat-card-subtitle>
                    </mat-card-header>
                    <div class="image">
                        <img mat-card-image src="{{movie.Poster}}">
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>